@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


:root {
    /* FONTS */
    --font-padrao: 'Montserrat', sans-serif;
    --font-serifada: 'Fraunces', serif;

    /* CORES */
    --cor-verde-escuro: hsl(158, 36%, 37%);
    --cor-body: hsl(30, 38%, 92%);
    --cor-azul-acinzentado: hsl(228, 12%, 48%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    margin: 20px 0;
}

.conteiner {
    background-color: white;
    width: 95%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagem-conteiner {
    background-image: url(../images/mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.texto-conteiner {
    margin: auto;
    width: 90%;
}

.tipo-produto {
    font-family: var(--font-padrao);
    font-size: 13px;
    color: var(--cor-azul-acinzentado);
}

.nome-produto {
    font-family: var(--font-serifada);
    margin: 20px 0;
    font-size: 1.2em;
}

.descricao-produto {
    color: var(--cor-azul-acinzentado);
    font-family: var(--font-padrao);
    font-size: .80em;
    margin: 20px 0;
}

.precos {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
}

.valor-desconto {
    color: var(--cor-verde-escuro);
    font-family: var(--font-serifada);
    font-size: 2em;
}

.valor-real {
    text-decoration: line-through;
    color: var(--cor-azul-acinzentado);
}

.botao-carrinho {
    text-align: center;
}

button {
    color: white;
    background-color: var(--cor-verde-escuro);
    font-family: var(--font-padrao);
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    padding: 18px;
    width: 100%;
    margin: 10px 0 20px 0;
}

button:hover {
    transform: translateY(-1px);
    background-color: hsl(158, 36%, 29%);
}

/* ========= TABLETS ========= */
@media (min-width:481px) {
    .conteiner {
        width: 80%;
    }

    .imagem-conteiner {
        background-position: top;

    }
}

/* ========= LAPTOPS ========= */
@media (min-width: 769px) {
    .conteiner {
        display: flex;
        width: 700px;
        height: 600px;
    }

    .imagem-conteiner {
        background-image: url(../images/desktop.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .texto-conteiner {
        display: flex;
        flex-direction: column;
        margin: 0px 20px 0 20px;
    }

    .tipo-produto {
        padding-top: 30px;
        font-size: 1.1em;
    }

    .nome-produto {
        font-size: 1.5em;
    }

    .descricao-produto {
        font-size: 1.1em;
    }

    .valor-desconto {
        font-size: 2.5em;
    }

    .valor-real {
        font-size: 1.1em;
    }

    button {
        font-size: 1.2em;
    }
}